@page{
  size: 8.5in 11in;
  margin-top: 0.75in;
  margin-bottom: 0.75in;
  margin-left: 0.75in;
  margin-right: 0.75in;
}
body{
  font-family: 'Archivo Narrow', 'Segoe UI Symbol', 'Serif';
  font-size: 14pt;
  /*background-color: #f2ebd6;*/ /* Focusing on mostly bw for the moment */
}
p{
  margin-top: 0;
  margin-bottom: 0.5em;
}
table{
  font-size: inherit;
  page-break-inside: avoid;
}
th,td{
  border: 1px solid black;
}

h1{
  page-break-before: always;
  margin-top: 0.5em;
  margin-bottom: 0;
}

h2{
  margin-top: 0.5em;
  margin-bottom: 0;
}
h3{
  margin-bottom: 0;
}
ul{
  margin-top: 0;
  margin-bottom: 0.5em;
}

.map{
  float: right;
  width: 4in;
  height: 4in;
}

.map-big{
  width: 5in;
  float: right;

}

.pagebreak{
  page-break-after: always;
}
