body{
  font-family: 'Archivo Narrow', 'Segoe UI Symbol', 'Serif';
  font-size: 14pt;
  /*background-color: #f2ebd6;*/ /* Focusing on mostly bw for the moment */
}

p{
  margin-top: 0;
  margin-bottom: 0.5em;
}

table{
  font-size: inherit;
  page-break-inside: avoid;
}

th,td{
  border: 1px solid black;
}

h1{
  page-break-before: always;
  margin-top: 0.5em;
  margin-bottom: 0;
}

h2{
  margin-top: 0.25em;
  margin-bottom: 0;
}

h3{
  margin-top: 0.125em;
  margin-bottom: 0;
}

ul{
  margin-top: 0;
  margin-bottom: 0.5em;
}

.cover{
  font-family: 'Acknowledgement';
  letter-spacing: 8px;
  padding-top: 4in;
  text-align: center;
  font-size: 200%;
  page-break-after: always;
}

.title-page{
  padding-top: 1in;
  text-align: center;
  page-break-before: always;
}

.title-page .title-numbers{
  font-family: 'Acknowledgement';
  letter-spacing: 8px;
  line-height: 2.5;
  font-size: 2.5em;
}

.title-page .title-page-name{
  padding-top: 1.5in;
  font-size: 2.5em;
  font-family: 'Archivo Narrow';
  letter-spacing: normal;
  font-style: italic;
  /*quotes: '\201c' '\201d';*/
}
/*.title-page-name p:before { content: open-quote; }
.title-page-name p:after  { content: close-quote; }*/

.map{
  /*float: right;*/
  width: 5in;
  height: 5in;
  margin-left: auto;
  margin-right: auto;
}
.map-big{
  float: right;
  width: 5.5in;
  height: 5.5in;
}

.map-full-width{
  width: 90%;
}

.page-break{
  page-break-after: always;
}

.title{
  font-size: 200%;
  font-weight: bold;
  text-align: center;
}

.toc{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.toc h2{
  text-align: center;
}

.toc ul{
  text-align: left;
  padding: 0;
  overflow-x: hidden;
  list-style: none;
}

.toc li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  color: black;
  letter-spacing: -2px;
  content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}

.toc li em {
  padding-right: 0.33em;
  background: white;
}

.toc li strong:first-of-type {
  padding-right: 0.2em;
  background: white;
  font-weight: normal;
}

.toc li strong:nth-of-type(2) {
  float: right;
  padding-left: 0.2em;
  background: white;
  font-weight: normal;
}

.toc code{
  font-family: inherit;
  background: white;
}
