_output/*.png
_output/*.pdf
~$*
.DS_Store
Gemfile.lock
rules/RULES.html
rules/RULES.md.html
rules/FAQ.html
rules/FAQ.md.html
scenarios/scenarios.html
scenarios/scenarios.md.html
_output/*.svg
/.byebug_history
