<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="your-last-heist.css">
</head>
<body>

<%= File.read "scenarios/your-last-heist/booklet.md.html" %>

</body>
</html>
