body{
  font-family: 'Archivo Narrow', 'Segoe UI Symbol', 'Serif';
  font-size: 14pt;
}

p{
  margin-top: 0;
  margin-bottom: 0.35em;
  line-height: 1.10;
}

table{
  font-size: inherit;
  page-break-inside: avoid;
}

th,td{
  border: 1px solid black;
}

h1{
  font-family: 'Archivo Black';
  font-weight: bold;
  page-break-before: always;
  margin-top: 0.5em;
  margin-bottom: 0;
  text-align: center;
  page-break-before: always;
}

h2{
  margin-top: 0.25em;
  margin-bottom: 0;
  font-size: 16pt;
  text-align: center;
}

h3{
  margin-top: 0.125em;
  margin-bottom: 0;
}

ul{
  margin-top: 0;
  margin-bottom: 0.5em;
}

hr {
  border: none;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}


.cover-title {
  font-family: 'Acknowledgement';
  letter-spacing: 8px;
  padding-top: 1in;
  text-align: center;
  font-size: 200%;
}

.handwriting {
  position: relative;
  padding: 0.5em;
  margin-left: 3em;
  margin-right: 3em;
  line-height: 1;
  display: block;
  font-family: 'Caveat';
  font-size: 110%;
  text-align: right
}

.text-center {
  text-align: center;
}


.map {
  text-align: center;
}
.map img {
  width: 90%;
  margin: 0;
}

.page-break{
  page-break-after: always;
}

.note{
  font-size: 10pt;
}

table.tabletoc  {
  width: 100%;
  margin-bottom: 0.5em;
  line-height: 1;
}

.tabletoc th {
  font-weight: bold;
  border: none;
  text-align: center;
  border-bottom: 1pt solid black;

}

.tabletoc td {
  padding-bottom: 0.25em;
  border: none;
  vertical-align: top;
}

.tabletoc tr>td:nth-child(5) {
  text-align: center;
}


table.scenario-stats {
  padding: 0.25em;
  float: right;
  margin-left: 0.5em;
  border: 1pt solid black;
}

.scenario-stats td,
.scenario-stats th {
  font-weight: normal;
  text-align: left;
  padding: 0;
  line-height: 1;
  border: none;
  border-collapse: collapse;
  /* border: 1pt solid black; */
  max-width: 7em;
}

.scenario-stats tr>th:first-child,
.scenario-stats tr>td:first-child {
  padding-right: 0.5em;
}

.hidden {
  display: none;
}
