
body{
  font-family: 'Archivo Narrow', 'Segoe UI Symbol', 'Serif';
  font-size: 12pt;
  /* font-size: 10pt;  */
  /* text-rendering: optimizeLegibility; */
  line-height: 1.05;
}

@page {
  size: 5.25in 8.5in;
  margin: 0.25in;
  margin-top: 0.5in;
  /* background-image: url("../img/rules-background.svg");
  background-size: cover;
  background-repeat: no-repeat; */
  /*
  .pagenumber::after {
  counter-increment: pagenum;
  content: "Page " + counter(pagenum);
  } */
  @bottom-center {
    font-family: 'Archivo Black';
    font-size: 10pt;
    font-weight: bold;
    padding: 0.5em;
    content: counter(page);
  }
}

#markdown-toc{
  margin-left: 6em;
}

#markdown-toc, #markdown-toc ul {
  list-style: none;
  padding: 0;
  padding-left: 1em;
}
#markdown-toc a {
  text-decoration: none;
  color: inherit;
}
#markdown-toc a::after {
  content: target-counter(attr(href), page);
  float: right;
  margin-right: 8em;
}

p{
  margin-top: 0;
  margin-bottom: 0.5em;
}

ul {
  margin-top: 0;
}

table{
  font-size: inherit;
  page-break-inside: avoid;
  line-height: 1;
}

th,td{
  border: 1px solid black;
}

h1{
  font-family: 'Archivo Black';
  font-weight: normal;
  /* font-variant-caps: small-caps; */ /* Sadly Archivo black doesn't support this */
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.25em;
  background-color: black;
  color: white;
  /* line-height: 1; */
  clear: both;
  page-break-before: always;
}

h2{
  font-family: 'Archivo Black';
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 0.15em;
  clear: both;
}

h3{
  font-family: 'Archivo Black';
  font-weight: normal;
  margin-top: 0.25em;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

hr {
  border: none;
  margin: 0;
  padding: 0;
  page-break-after: always;
  clear: both;
}

.emoji-svg {
  height: 1em;
}

.cover{
  /* font-family: 'Acknowledgement'; */
  page-break-after: always;
}

.title{
  font-family: 'Acknowledgement';
  /* font-weight: bold; */
  /* letter-spacing: 8px; */
  /* padding-top: 1.5in; */
  /* padding-bottom: 1.5in; */
  line-height: 1;
  text-align: center;
  font-size: 3em;
}

table.security-table {
  width: 100%;
}

.security-table img:not(.emoji-svg) {
  width: 40px;
}

.clear-both{
  clear: both;
}

.example{
  background-color: #ccc;
  border-radius: 0.5em;
  margin-left: 15pt;
  margin-right: 15pt;
  border-left: 3pt solid #888888;
  padding: 0.5em;
  page-break-inside: avoid;
}

.example img {
  margin: 0;
}

img.img-right{
  float: right;
  margin: 0;
  margin-left: 0.5em;
}

.tip{
  margin-left: 15pt;
  border-left: 3pt double #888888;
  padding-left: 2pt;
  page-break-inside: avoid;
}

.flex-container ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  page-break-inside: avoid;
}

.flex-container li{
  max-width: 135px;
  list-style: none;
  border: 1pt solid black;
  page-break-inside: avoid;
  margin-bottom: 0px
}

ol.gameplay-structure{
  list-style-type: upper-roman;
}

.gameplay-structure{
  line-height: 1.0;
}

.alerts img{
  width: 10em;
}

.para_header{
  float: left;
}
.reinforcements ol{
  margin: 3.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.reinforcements p{
  margin-bottom: 0;
}

.reinforcements img{
  height: 160px;
}

.example-right{
  float: right;
  text-align: center;
  margin-left: 1.5em;
  margin-top: 0.5em;
}

.example-left{
  float: left;
  margin-right: 1.5em;
  margin-top: 0.5em;
  text-align: center;
}

.setup-spacing {
  clear: both;
  margin-top: 1em;
  margin-bottom: 1em;
}

.numbered_fig em {
  color: red;
  font-weight: bold;
  font-style: normal;
}

.card-portrait img{
  width: 10em;
}

.card-landscape img{
  width: 14em;
}

.card-portrait-small img{
  width: 8em;
}

.card-right {
  float: right;
  margin-left: 1em;
  clear: right;
}

.chitlist {
  float: right;
  margin-left: 0.5em;
}

.chit img{
  width: 3em;
}

.chit_h img{
  width: 4em;
}

.hexchit img{
  width: 6em;
}

.sm_fig img {
  width: 7em;
}

.med_fig img {
  width: 10em;
}

.xl_fig img {
  width: 16em;
}
.large_fig img {
  width: 12em;
}

.rotate-left {
  transform: rotate(-7deg);
}

.rotate-right {
  transform: rotate(7deg);
}

.security_systems img{
  float: left;
  width: 125px;
}

.loot img{
  float: right;
  width: 150px;
}

.pagebreak{
  page-break-after: always;
}

.subactions li {
  list-style: none;
}



.figure_list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.figure_list>li:before{
  color: red;
  padding-right: 0.5em;
  font-weight: bold;
}

.figure_list>li:nth-of-type(1):before{ content: '①'; }
.figure_list>li:nth-of-type(2):before{ content: '②'; }
.figure_list>li:nth-of-type(3):before{ content: '③'; }
.figure_list>li:nth-of-type(4):before{ content: '④'; }
.figure_list>li:nth-of-type(5):before{ content: '⑤'; }

.figure_list li ul {
  list-style: disc;
  padding-left: 1.15em;
}
.figure_list li li {
  padding-left: 1em;
}
