<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="rules.css">
</head>
<body>

<%
  require 'kramdown'
  rules_md = File.read "rules/RULES.md"
%>
<%= Kramdown::Document.new(rules_md, parse_block_html: true).to_html %>

</body>
</html>
