
body{
  font-family: 'Archivo Narrow', 'Segoe UI Symbol', 'Serif';
  font-size: 11pt;
  /* font-size: 10pt;  */
  text-rendering: optimizeLegibility;
  line-height: 1.05;
  color: #130e04dd;
  margin: 0;
  padding: 0;
}

/* @page rule is in <style> because... that's how it works?? I don't know. */

#markdown-toc{
  margin-left: 6em;
  font-size: 90%;
}

#markdown-toc, #markdown-toc ul {
  list-style: none;
  padding: 0;
  padding-left: 1em;
}
#markdown-toc a {
  text-decoration: none;
  color: inherit;
}
#markdown-toc a::after {
  content: target-counter(attr(href), page);
  float: right;
  margin-right: 8em;
}

#markdown-toc>ul>li:nth-child(2n){
  background-color: lightgrey;
}

p{
  margin-top: 0;
  margin-bottom: 0.5em;
}

ul {
  margin-top: 0;
}

table{
  font-size: inherit;
  page-break-inside: avoid;
  line-height: 1;
}

th,td{
  border: 1px solid black;
}

h1{
  font-family: 'Archivo Black';
  font-weight: normal;
  /* font-variant-caps: small-caps; */ /* Sadly Archivo black doesn't support this */
  text-align: center;
  /* color: #4d3910; */
  color: #130e04dd;
  margin-top: 0em;
  margin-bottom: 0.5em;
  padding: 0.25em;
  background-color: #b3955438;
  border-radius: 1em;

  /* background-color: black; */
  /* border: 0.5em solid #3d331196; */
  /* border-radius: 1em; */
  /* color: white; */
  /* line-height: 1; */
  clear: both;
  page-break-before: always;
}

h2{
  font-family: 'Archivo Black';
  font-weight: normal;
  /* color: #4d3910; */
  color: #130e04;

  margin-top: 0.5em;
  margin-bottom: 0.15em;
  clear: both;
}

h3{
  font-family: 'Archivo Black';
  font-weight: normal;
  margin-top: 0.25em;
  margin-bottom: 0;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

hr {
  border: none;
  margin: 0;
  padding: 0;
  page-break-after: always;
  clear: both;
}

.emoji-svg {
  height: 1em;
}

.cover{
  page-break-after: always;
}

.title{
  font-family: 'Acknowledgement';
  line-height: 1;
  text-align: center;
  font-size: 3em;
}

.title-img {
  margin-top: 6em;
  margin-bottom: 2em;
}
.title-img img{
  width: 100%;
  margin: 0;
}

table.security-table {
  width: 100%;
}

.security-table img:not(.emoji-svg) {
  width: 40px;
}

.clear-both{
  clear: both;
}

ul.parts-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  height: 5.5in;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 65%;
  line-height: 0.9;
  /* border: 1pt solid black; */
}

ul.parts-list li {
  text-align: center;
  /* border: 1pt solid black; */
  page-break-inside: avoid;
  margin-bottom: 1.0em;
}

ul.parts-list li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* ul.parts-list li:nth-of-type(2n) img   { transform: rotate(-7deg) }
ul.parts-list li:nth-of-type(2n+1) img { transform: rotate(8deg) } */
/*
ul.parts-list li img:nth-child(1) { transform: rotate(-7deg); }
ul.parts-list li img:nth-child(2) { transform: rotate(8deg); }
ul.parts-list li img:nth-child(3) { transform: rotate(-9deg); }
*/

img.xs-part { width: 2em; }
img.sm-part { width: 3em; }
img.md-part { width: 5em; }
img.lg-part { width: 7em; }

.example{
  /* background-color: #ccc; */
  background-color: #7c9ca07c;
  /* background-color: #7C9CA0; */
  border-left: 3pt solid #0E3D44;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  margin-left: 0.75em;
  margin-right: 0.75em;
  padding: 0.5em;
  page-break-inside: avoid;
}

.example img {
  margin: 0;
}

.example.centered { text-align: center; }

.example img.br {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.img-right{
  float: right;
  margin: 0;
  margin-left: 0.5em;
}

img.full{
  margin: 0;
  width: 100%;
}

.half{
  width: 50%;
}


.tip{
  margin-left: 0.75em;
  border-left: 3pt double #24154C;
  padding-left: 2pt;
  page-break-inside: avoid;
}

ol.gameplay-structure{
  list-style-type: upper-roman;
}

.gameplay-structure{
  line-height: 1.0;
}

.alerts img{
  width: 10em;
}

.para_header{
  float: left;
}
.reinforcements ol{
  margin: 3.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.reinforcements p{
  margin-bottom: 0;
}

.reinforcements img{
  height: 160px;
}

.example-right{
  float: right;
  text-align: center;
  margin-left: 1.5em;
  margin-top: 0.5em;
}

.example-tight{
  float: right;
  margin-left: 0.5em;
}

.example-left{
  float: left;
  margin-right: 1.5em;
  margin-top: 0.5em;
  text-align: center;
}

.setup-spacing {
  clear: both;
  margin-top: 1em;
  margin-bottom: 1em;
}

.numbered_fig em {
  color: red;
  font-weight: bold;
  font-style: normal;
}

.card-portrait img{
  width: 10em;
}

.card-landscape img{
  width: 14em;
}

.card-portrait-small img{
  width: 8em;
}

.card-right {
  float: right;
  margin-left: 1em;
  clear: right;
}

.chitlist {
  float: right;
  margin-left: 0.5em;
}

.chit img{
  width: 3em;
}

.chit_h img{
  width: 4em;
}

.hexchit img{
  width: 6em;
}

.sm_fig img {
  width: 7em;
}

.med_fig img {
  width: 10em;
  /* border: 1pt solid black; */
  box-shadow: 1em 1em 1em #444444;
}

.xl_fig img {
  width: 16em;
}
.large_fig img {
  width: 12em;
}

.rotate-left {
  transform: rotate(-7deg);
}

.rotate-right {
  transform: rotate(7deg);
}

.security_systems img{
  float: left;
  width: 125px;
}

.loot img{
  float: right;
  width: 150px;
}

.pagebreak{
  page-break-after: always;
}

.subactions li {
  list-style: none;
}

.figure_list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.figure_list>li:before{
  color: red;
  padding-right: 0.5em;
  font-weight: bold;
}

.figure_list>li:nth-of-type(1):before{ content: '①'; }
.figure_list>li:nth-of-type(2):before{ content: '②'; }
.figure_list>li:nth-of-type(3):before{ content: '③'; }
.figure_list>li:nth-of-type(4):before{ content: '④'; }
.figure_list>li:nth-of-type(5):before{ content: '⑤'; }

.figure_list li ul {
  list-style: disc;
  padding-left: 1.15em;
}
.figure_list li li {
  padding-left: 1em;
}

/* For the index */
.term {
  text-decoration: inherit;
  font-weight: inherit;
  font-variant: inherit;
}

#idx a {
  text-decoration: none;
  color: inherit;
}

#idx a::after {
  content: target-counter(attr(href), page);
  float: right;
  margin-right: 6em;
}