body{
  font-family: 'Archivo Narrow', 'Segoe UI Symbol', 'Serif';
  font-size: 14pt;
  text-rendering: optimizeLegibility;
  line-height: 1.15;
}
p{
  margin-top: 0;
  margin-bottom: 0.5em;
}
table{
  font-size: inherit;
  page-break-inside: avoid;
}
th,td{
  border: 1px solid black;
}
#the-pieces + ul{
  columns: 3;
  font-size: 50pt;
}

h1{
  margin-top: 0.5em;
  margin-bottom: 0;
}

h2{
  margin-top: 0.5em;
  margin-bottom: 0;
}
h3{
  margin-bottom: 0;
}

.emoji-svg {
  height: 1em;
  padding-left: 0.2em;
  vertical-align: sub;
}

.cover{
  /* font-family: 'Acknowledgement'; */
  page-break-after: always;
}

.title{
  font-family: 'Acknowledgement';
  /* font-weight: bold; */
  /* letter-spacing: 8px; */
  padding-top: 1.5in;
  padding-bottom: 1.5in;
  text-align: center;
  font-size: 3em;
}

.security-table table{
  /*float: right;*/
  width: 100%;
}

.subaction-table table{
  float: right;
  width: 45%;
}

.title{
  font-family: 'Archivo Black';

}
.clear-both{
  clear: both;
}

.example{
  margin-left: 15pt;
  border-left: 3pt solid #888888;
  padding-left: 2pt;
}
.tip{
  margin-left: 15pt;
  border-left: 3pt double #888888;
  padding-left: 2pt;
}

.flex-container ul{
  display: -webkit-box;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  page-break-inside: avoid;
}

.flex-container li{
  max-width: 135px;
  list-style: none;
  border: 1pt solid black;
  page-break-inside: avoid;
  margin-bottom: 0px
}

ol.gameplay-structure{
  list-style-type: upper-roman;
}

.gameplay-structure{
  line-height: 1.0;
}

.alerts img{
  width: 100;
}

.para_header{
  float: left;
}
.reinforcements ol{
  margin: 3.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.reinforcements p{
  margin-bottom: 0;
}

.reinforcements img{
  height: 160px;
}

.example-right{
  float: right;
  text-align: center;
}

.characters{
}

.characters img{
  float: right;
  width: 180px;
}

.skills{
}

.skills img{
  float: right;
  width: 300px;
}

.security_systems img{
  float: left;
  width: 125px;
}

.loot img{
  float: right;
  width: 150px;
}

.pagebreak{
  page-break-after: always;
}
